@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/* Variables */
/* Paleta de colores */

:root {
    --main-color: #2196f3;
    --second-color: #212121;
    --third-color:  #757575; 
    --four-color: rgba(255, 255, 255, 0.6);;
}


/* content HTML Portafolio */

body{
    font-family: 'Roboto', sans-serif;
    color: #000000;
    background:#FFFFFF;
}


/* Encabezado Contactos */
.contact{
    color: var(--third-color);
}

.contact:hover {
    color: var(--main-color);
}

/* Link */
.link {
    color: black;
}

.link:hover {
    color: var(--main-color);
}

/*Button*/
.button {
    color:rgb(2, 2, 2);
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
}

.button:hover {
    color: #FFFFFF;
    background: var(--main-color);
}

/* Boton WebStudio */

.webstudio{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--main-color);
    letter-spacing: 3;
    text-decoration: none;
}



/* Diseñor Index */
.main-title {
    color: #ffffff;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    text-align: center;
    background: #2f303a;
}

.main-button {
    color: #ffffff;
    background: var(--main-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    cursor: pointer;
}

footer{
    background-color: #2F303A;
}

.address{
    color: #FFFFFF; 
}

ul{
    list-style-type: none;
}



